hello/.gradle/
gradle-app.setting
java-quickstart/build
java-quickstart/.gradle
groovy-quickstart/.gradle
groovy-quickstart/build
webapp-quickstart/.gradle
webapp-quickstart/build
gradle-wrapper/.gradle
gradle-wrapper/build
